<% let { marktplaats } = credentials; %> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Advertisements Manager - Credentials</title>
</head>
<body>
  <h1>Credentials</h1>
  <form method="POST" id="credentials" name="credentials">

    <fieldset form="credentials" name="marktplaats">
      <h2>Marktplaats.nl</h2>
      <label for="marktplaats.email">E-mailadres</label>
      <input type="email" value="<%= marktplaats ? marktplaats.email : "" %>" name="marktplaats.email">
      <br>
      <label for="marktplaats.password">Wachtwoord</label>
      <input type="password" value="<%= marktplaats ? marktplaats.password : "" %>" name="marktplaats.password">
    </fieldset>

    <input type="submit" value="Save"> <%= success === "0" ? "Error!" : (success === "1" ? "Success!" : "") %>
  </form>
</body>
</html>