<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Advertisements Manager</title>
</head>
<body>
  <h1>Welcome</h1>
  <h2>Menu</h2>
  <ul>
    <li><a href="/credentials">Credentials</a></li>
    <li><a href="/advertisements">Advertisements</a></li>
    <li><a href="/templates">Templates</a></li>
  </ul>
</body>
</html>